MONGO_URI=mongodb://localhost:27017/bugtracker
AUTH0_AUDIENCE=https://bugtracker.ioak.io
AUTH0_ISSUER_BASE_URL=https://your_auth0_domain/
AUTH0_MGMT_CLIENT_ID=your_auth0_mgmt_client_id
AUTH0_MGMT_CLIENT_SECRET=your_auth0_mgmt_client_secret
